@font-face {
    font-family: myFont;
    src: url(font/Sans\ a4fran3.woff) format('woff');
}
*{
    font-family: myFont;
}
p, h1, h2, .h4 , h3 , .AboutArt{
    direction: rtl;
}
.link{
    text-decoration: none;
}
.myInfo{
    line-height: 30px;
}
.bold{
    font-weight: 600;
}
.imgArtist{
    width: 500px;
}

.nav-list{
    border-bottom: 2px solid white;
    border-color: rgba(255, 255, 255, 0);
}
.nav-list:hover{
    border-color: rgba(255, 255, 255, 1);
    transition: all 1s ease;
}
.img-site{
    width: 90%;
    margin: auto;
    transition: 0.3s ease-in-out;
}
.img-site:hover{
    width: 100%;
    transition: 0.3s ease-in-out;
}
.myPic{
    width: 50%;
}
.img-myWorks{
    max-height: 500px;
}
.info-aboutMe{
    flex-direction: row-reverse;
}
.logo{
    width: 7%;
}
@media screen and (max-width:768){
    .logo{
        width: 12% !important;
    }
    .nav-mobile{
        text-align: center !important;
        justify-content: center !important;
    }
    .myPic{
        width: 75%;
    }
    .info-aboutMe{
        flex-direction:row;
    }
}
