@font-face {
    font-family: myFont;
    src: url(font/Sans\ a4fran3.woff) format('woff');
}
*{
    font-family: myFont;
}
p, h1, h2, .h4 , h3 , .AboutArt{
    direction: rtl;
}
.link{
    text-decoration: none;
}
.Link{
    cursor: pointer;
    color: blue;
}
.myInfo{
    line-height: 30px;
}
.bold{
    font-weight: 600;
}
.imgArtist{
    width: 500px;
}

.nav-list{
    border-bottom: 2px solid white;
    border-color: rgba(255, 255, 255, 0);
}
.nav-list:hover{
    border-color: rgba(255, 255, 255, 1);
    transition: all 1s ease;
}
.img-site{
    width: 90%;
    margin: auto;
    transition: 0.3s ease-in-out;
}
.img-site:hover{
    width: 100%;
    transition: 0.3s ease-in-out;
}
.myPic{
    width: 50%;
}
.img-myWorks{
    max-height: 500px;
}
.info-aboutMe{
    flex-direction: row-reverse;
}
.logo{
    width: 7%;
}
.ScrollerImg{
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 28px;
    direction: rtl;
}
.C_Scroll{
    display: inline-block;
    margin-left: 12px;
}
.ImgInScroll{
 height: 400px;
}
.FontMyCode{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
}
.FontMyCodeLast{
    font-size: 20px;
    font-weight: 500;
    text-align: end;
    margin-top: 12px;
}
.FontMyCodeFirst{
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    margin-top: 12px;
}
.mt_100{
    margin-top: 100px;
}
.Mt_150{
    margin-top: 150px;
}

/* width */
.ScrollerImg::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
  .ScrollerImg::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .ScrollerImg::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  .ScrollerImg::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 4px;
  }

@media screen and (max-width:768px){
    .logo{
        width: 12% !important;
    }
    .nav-mobile{
        text-align: center !important;
        justify-content: center !important;
    }
    .myPic{
        margin-bottom: 20px;
    }
    .info-aboutMe{
        flex-direction:row;
    }
    .ImgInScroll{
        height: 100px;
    }
    .FontMyCode{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-top: 12px;
    }
    .FontMyCodeLast{
        font-size: 14px;
        font-weight: 500;
        text-align: end;
        margin-top: 12px;
    }
    .FontMyCodeFirst{
        font-size: 14px;
        font-weight: 500;
        text-align: start;
        margin-top: 12px;
    }
    .ScrollerImg::-webkit-scrollbar {
        height: 5px;
      }
      
      /* Track */
      .ScrollerImg::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      .ScrollerImg::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
      }
      
      /* Handle on hover */
      .ScrollerImg::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 4px;
      }
      .Mt_150{
        margin-top: 100px;
    }
}
